version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db

  backend:
    image: sripadm/mean-backend:latest
    container_name: backend
    environment:
      MONGO_URI: mongodb://mongo:27017/dd_db
      PORT: 8080
    depends_on:
      - mongo

  frontend:
    image: sripadm/mean-frontend:latest
    container_name: frontend
    build:
      context: ./frontend
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist/angular-15-crud:/usr/share/nginx/html
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data: