version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db

  backend:
    image: sripadm/mean-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://mongo:27017/dd_db
      PORT: 8080
    depends_on:
      - mongo

  frontend:
    image: sripadm/mean-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
